body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

tr{
    height: 100px;

}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}


.row1 {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px #888888;

}
.den {
    background-color: #ffffff;
    color: black;
    box-shadow: 5px 5px 5px #888888;
    border-bottom: 1px solid black ;
}
h1 {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: black;
    box-shadow: 5px 5px 5px #888888;
}
.rozvrh {
    color: #fff;
    text-align: center;
    animation: glow 3s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px black, 0 0 40px white, 0 0 50px black, 0 0 60px white, 0 0 70px black;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px black, 0 0 40px black, 0 0 50px black, 0 0 60px black, 0 0 70px black, 0 0 80px black;
    }
  }
