body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

tr{
    height: 75px;
margin-bottom: auto;

}
th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

.main {
    background-image: url('./img/image.jpg'); 
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}
.row1 {
    background-color: black;
    color: white;
    box-shadow: 5px 5px 5px #888888;

}
.den {
    background-color: black;
    color: white;
    border-width: 3px;    
    border-color: #f2f2f2;
    border-style: solid;
    
    }
    .den:hover {
        color: #fff;
        text-align: center;
        -webkit-animation: glow 1s ease-in-out infinite alternate;
        -moz-animation: glow 1s ease-in-out infinite alternate;
        animation: glow 1s ease-in-out infinite alternate;
      }
      @-webkit-keyframes glow {
        from {
          text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
        }
        to {
          text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
        }
      }
      
caption {
    text-align: center;
    color: white;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    text-shadow: 2px 2px 4px #000000;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    background-color: black;
    box-shadow: 5px 5px 5px #888888;
}

td {
    transition: transform 0.3s ease-in-out;
}

td:hover {
    transform: scale(1.01);
}

tr:hover td:not(:hover) {
    filter: blur(10px);
}

tr:hover td:not(:hover) {
    filter: blur(0);
}

  
  
  .inner-table {
    border-collapse: collapse;
    width: 100%;
    box-shadow: #000 1px 2px 30px; 
    color: white;
}
.inner-table:hover{
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}
.inner-th, .inner-td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

.inner-th {
    background-color: #f2f2f2;
}

.inner-td {
    border: 2px solid #000; 
}
.predmet{
    border-collapse: collapse;
    box-shadow: #000 1px 2px 30px; 
    color: white;
    
}
.predmet:hover {
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff;
    }
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px #ffffff, 0 0 60px #ffffff, 0 0 70px #ffffff, 0 0 80px #ffffff;
    }
}
.ucitel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 10px;
  padding-top: 0.5em;
}
